name: autoupdate

on: 
   workflow_dispatch:
#   schedule:
#   - cron: '0 0 * * MON'
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        token: ${{ secrets.BOT }}
    - name: Install git
      run: |
        sudo apt-get update
        sudo apt-get -y install git
    - name: Setup git config
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
    - name: Update
      shell: bash
      run: |
        chmod +x ./*.sh
        ./linux_config.sh
        ./macos_config.sh
        ./portable_config.sh
        git add -A
        git commit -am "Automate" || echo "nothing updated"
        git push
